



<div id="storefront">
	<h1> Storefront </h1>

		<div id="Dino"> 
		</div>

		<div id="Weed">

		</div>

		<div id="WeedDino">
		</div>

	<div id="Labels">

		<div id="DinosLabel"> 
			<h3> Dinos </h3> 
			<%= link_to 'Buy One' %>
		</div>

		<div id="WeedLabel">
			<h3> Weed </h3>
			<a href="#" id="buybtn">Buy One</a>
		</div>

		<div id="BakedDinosLabel"> 
			<h3> Baked Dinos </h3> 
			<%= link_to 'Buy One' %>
		</div>

	</div> 

</div>

<div id="UserData">
	<h1> Your Collection </h1>

<% if current_user %>
  Logged in as: <%= current_user.name %> <%= link_to 'Log Out', logout_path, method: :delete %> <%= link_to 'Edit', edit_user_path(@user) %>
<% else %>
  <%= link_to 'Log In', login_path %>
  <%= link_to 'Sign Up', new_user_path %>
<% end %>
	
	<br/> 
	<br/> 

<table align="center">
  <thead>
  <tr>
     <th>Product</th>
     <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
  <tr>
     <td>Dinos</td>
     <td> <%= %> </td>
     <td> <%= submit_tag 'Sell One' %>
  </tr>
  <tr>
      <td>Weed</td>
      <td id="weedCount"> <%= %> </td> 
      <td> <%= submit_tag 'Sell One' %> 
  </tr>
   <tr>
      <td>Baked Dinos</td>
      <td> <%= %> </td>
      <td> <%= submit_tag 'Sell One' %>
  </tr>
  </tbody>
</table>
<!-- @user.inventories.dinos  -->  



</div>
</div>


<script>
	jQuery('#buybtn').click(function(evt){ 
		evt.preventDefault();
			$.ajax({
				url: '/buy',
				//method: 'GET',
				success: function(data) {
					console.log(data)
					$('#weedCount').text(data)
				}
			})
			
		// console.log('clicked!')
	})
</script>