<h1> Log In </h1>

<%= form_for :login do |f| %>
	<%= f.label :email, "Email Address" %>
	<%= f.text_field :email %>
	<br />

	<%= f.label :password, "Password" %>
	<%= f.password_field :password %>
	<br />

	<%= f.submit "Log In" %>
<% end %> 